<!-- main/templates/main/categories.html -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Категории</h2>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'category_images' category_slug=category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
