<!-- main/templates/main/image_detail.html -->
{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card position-relative">
            <div class="card-body image-detail">
                <img src="{% static image.image %}" alt="Dog Image" class="img-fluid">
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{% static image.user_avatar %}" alt="Avatar Image" class="avatar mr-2">
                    <h5 class="card-title mb-0 ml-4">{{ image.user_nickname }}</h5>
                </div>
                <small class="text-muted">{{ image.timestamp }}</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
