{% extends 'main/base.html' %}
{% load static %}
{% block title %}Gallery - {{ picture.get_category_display }} {% if picture.tags.first %} {{ picture.tags.first }} {% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="custom-card position-relative">
            <div class="custom-card-body">
                <a href="{{ picture.image.url }}" target="_blank">
                    <img src="{{ picture.image.url }}" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="custom-card-footer d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{{ picture.author.account.account_image.url }}" alt="Avatar Image"
                         class="custom-avatar mr-2">
                    <h5 class="card-title mb-0 ml-0">{{ picture.author }}</h5>
                </div>
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex align-items-center">
                        <p class="mb-0 mr-3" style="font-size:13px;color:gray;"><i
                                class="fas fa-download text-muted"></i> {{ picture.downloads }}</p>
                        <p class="mb-0" style="font-size:13px;color:gray;"><i class="fas fa-star text-muted"></i> {{ picture.rating }}</p>
                    </div>
                </div>
                <small class="text-muted">Категория: {{ picture.get_category_display }}</small>
                <small class="text-muted">{{ picture.date }}</small>
            </div>
            <div class="custom-card-footer d-flex justify-content-between align-items-center mt-3">
                <small class="text-muted">Теги:
                    {% for tag in picture.tags.all %}
                    {{ tag.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
                {% if user.is_authenticated %}
                <div class="d-flex align-items-center">
                    <span class="mr-2" id="ratingValue">{{ picture.rating }}</span>
                    <button class="btn btn-outline-success" id="upvoteBtn">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                    <button class="btn btn-outline-danger" id="downvoteBtn">
                        <i class="fas fa-thumbs-down"></i>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <form method="post" action="{% url 'download_image' picture.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Скачать</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const upvoteBtn = document.getElementById('upvoteBtn');
        const downvoteBtn = document.getElementById('downvoteBtn');

        upvoteBtn.addEventListener('click', function() {
            vote('upvote');
        });

        downvoteBtn.addEventListener('click', function() {
            vote('downvote');
        });

        function vote(voteType) {
    fetch('{% url "vote" picture.id %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: `vote_type=${voteType === 'upvote' ? 'upvote' : 'downvote'}`,
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            document.getElementById('ratingValue').innerText = data.rating;
            upvoteBtn.innerHTML = `<i class="fas fa-thumbs-up"></i>`;
            downvoteBtn.innerHTML = `<i class="fas fa-thumbs-down"></i>`;
        } else {
            console.error(data.error);
        }
    })
    .catch(error => console.error('Error:', error));
}
    });
</script>

{% endblock %}