body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 10px 15px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

#search {
    display: flex;
    align-items: center;
}

.card {
    margin-bottom: 20px;
    width: 300px;
    position: relative;
}

.card img {
    max-width: 100%;
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 14px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
    position: relative;

}

.card-footer-top-authors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
    position: relative;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.avatar-number {
    color:red;
    font-size:18px;
}

.avatar-top-authors {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.image-detail img {
    max-width: 660px;
    width: 100%;
    height: auto;
    max-height: 425px;
    margin: 0 auto;
}

.custom-card {
    margin-bottom: 20px;
    max-width: 660px;
    margin: 0 auto;
}

.custom-card img {
    max-width: 100%;
}

.custom-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    position: relative;
}

.custom-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

@media (max-width: 768px) {
    .image-detail img {
        max-width: 100%;
        max-height: none;
    }
}

@media (max-width: 768px) {
    .custom-card img {
        max-width: 100%;
        max-height: none;
    }
}
