{% extends 'main/base.html' %}
{% load static %}
{% block title %}Мой профиль{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="user-info">
            <p>Пользователь: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="user-stats">
            <p>Загружено изображений: {{ user.picture_set.count }}</p>
            <p>Изображений в топе: {{ top_images|length }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="user-avatar">
            <img src="{{ user.account.account_image.url }}" alt="User Avatar" class="img-fluid small-avatar">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary mt-2">Загрузить новый аватар</button>
            </form>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="all-user-images">
            <h6>Все загруженные {{ user.username }} изображения:</h6>
            <div class="row">
                {% for img in uploaded_images %}
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="card position-relative">
                        <div class="card-body">
                            <a href="{% url 'cards_image_detail' img.id %}">
                                <img src="{{ img.image.url }}" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="{{ img.author.account.account_image.url }}" alt="Avatar Image"
                                     class="avatar mr-2">
                                <h5 class="card-title mb-0 ml-0">{{ img.author }}</h5>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <div class="d-flex align-items-center">
                                    <p style="font-size:13px;color:gray;" class="mb-0 mr-2"><i class="fas fa-download text-muted"></i> {{ img.downloads }}</p>
                                    <p style="font-size:13px;color:gray;" class="mb-0"><i class="fas fa-star text-muted"></i> {{ img.rating }}</p>
                                </div>
                            </div>
                            <small class="text-muted">{{ img.date|date:"M. d, H:i" }}</small>
                        </div>

                        <div class="row mt-3">
                            <div class="col text-center">
                                <div class="d-flex justify-content-center">
                                    <form method="post" action="{% url 'download_image' img.id %}" class="mr-2">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-primary">Скачать</button>
                                    </form>
                                    <form method="post" action="{% url 'delete_image' img.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
